* {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}

body {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}

::placeholder {
  color: black;
}

#choice-collector {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
}

#game-container {
  margin: 0;
  padding: 0;
}

#game-container {
  width: 100vw;
  height: 100vh;
}

.child-comment {
  position: relative;
  bottom: 0px;
  left: 10px;
}

#pre-chat {
  position: fixed;
  bottom: 110px;
  left: 20px;
  width: 500px;
  height: 300px;
  overflow: scroll;
  color: black;
  overflow-x: hidden;
}

.visible-box {
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.4);
}

#chat-box {
  position: fixed;
  bottom: 70px;
  left: 20px;
  width: 500px;
  height: 30px;
  font-size: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid black;
  display: none;
}

#player-stats {
  box-sizing: border-box;
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: rgba(255, 0, 0, 1.0);
  color: rgba(255, 255, 255, 1.0);
  border-top: 2px solid white;
  border-right: 2px solid white;
  width: 700px;
  height: 55px;
  z-index: 3;
}

#player-stats-all {
  box-sizing: border-box;
  position: fixed;
  top: 20px;
  left: 600px;
  background-color: rgba(255, 0, 0, 1.0);
  color: rgba(255, 255, 255, 1.0);
  border: 2px solid white;
  padding: 15px;
  width: 200px;
  height: 500px;
  z-index: 3;
  display: none;
}

#prompt {
  box-sizing: border-box;
  padding: 20px;
  position: fixed;
  top: 200px;
  left: 200px;
  height: 200px;
  width: 400px;
  background-color: white;
  border: 1px solid blue;
  color: black;
  display: none;
  z-index: 4;
}

#toastNotification {
  box-sizing: border-box;
  padding: 20px;
  position: fixed;
  left: calc(100% / 2 - 200px);
  height: auto;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid blue;
  color: black;
  display: none;
  z-index: 4;
}

#minigame_frame {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

#player-inventory {
  box-sizing: border-box;
  position: fixed;
  top: 110px;
  left: 110px;
  height: 600px;
  width: 600px;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  z-index: 5;
  display: none;
  padding: 10px;
  overflow-y: scroll;
}

#player-inv-table {
  width: 100%;
}

.inv_item:hover {
  cursor: pointer;
  text-decoration: underline;
  border-bottom: 1px solid black;
}

#player-phone {
  box-sizing: border-box;
  position: fixed;
  top: 150px;
  left: calc(100% / 2 - 400px);
  height: 400px;
  width: 800px;
  /* background-color: white; */
  background-image: url("../assets/images/apple_iphone_landscape.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: black;
  z-index: 5;
  display: none;
}

#phone_frame {
  width: 690px;
  height: 360px;
  left: calc(100% / 2 - 346px);
  top: 170px;
  position: fixed;
  background-image: url("../assets/images/phone_background.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.app-icon {
  display: inline-block;
  margin: 20px;
  color: #FFFFFF;
}

#play-coin {
  width: 70px;
  height: 70px;
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-image: url("../assets/images/icon-coin.png");
  cursor: pointer;
}

#play-maze {
  width: 70px;
  height: 70px;
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-image: url("../assets/images/icon-maze.png");
  cursor: pointer;
}

#play-shooting {
  width: 70px;
  height: 70px;
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-image: url("../assets/images/icon-shooting.png");
  cursor: pointer;
}

#play-quiz {
  width: 70px;
  height: 70px;
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-image: url("../assets/images/icon-trivia.png");
  cursor: pointer;
}

.minigames {
  width:100%;
  height:100%;
}